header, nav, section, article, aside, footer {
    display: block;
}
body {
    color: #666;
    background: #f9f8f6 url("../Images/dark-wood.jpg") center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
}
.wrapper {
    width: 940px;
    margin: 20px auto;
    border: 2px solid #000;
    background: #fff;
}
header {
    background: url("../Images/header.jpg");
    height: 160px;
}
h1 {
    text-indent: -9999px;
    width: 940;
    margin: 0px;
    height: 130px;
}
nav, footer {
    clear: both;
    color: #fff;
    background: #aeaca8;
    height: 30px;
}
nav ul {
    margin: 0px;
    padding: 5px  0px 5px 30px;
}
nav li {
    display: inline;
    margin-right: 40px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}
nav li a:hover, nav li a.current {
    color: #000;
}
section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eee;
}
article {
    clear: both;
    overflow: auto;
    width: 100%;
}
hgroup {
    margin-top: 40px;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eee;
}
figcaption {
    text-align: left;
    font-size: 90%;
}
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
aside section a:hover {
    color: #985d6a;
    background: #efefef;
}
a {
    color: #de6581;
    text-decoration: none;
}
h1, h2, h3 {
    font-weight: normal;
}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}
section.contact-details {
    margin-top: 55px;
}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}